<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Narrator</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>August 3rd 10:00 am: Local Court   Court Room , Tokyo, Japan</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010301</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>1</integer>
		<key>nexttype</key>
		<string>cg</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string></string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010302</string>
		<key>type</key>
		<string>cg</string>
		<key>nextmove</key>
		<integer>2</integer>
		<key>nexttype</key>
		<string>cg</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string></string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010303</string>
		<key>type</key>
		<string>cg</string>
		<key>nextmove</key>
		<integer>3</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Now, the trial for Tom Bird starts.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>4</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blake</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>The prosecutor is ready</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010305</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>5</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>The defendant is ready</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010306</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>6</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Lawyer Holmes, this is your first case. RIght?</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>7</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Yes, that is right, sir.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010306</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>8</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>OK. I will ask you a few questions at first.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>9</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>No problem, sir.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010306</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>10</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>The name of defendant in this case is ?</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>11</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>rightChoice</key>
		<integer>2</integer>
		<key>choice1</key>
		<string>Frank Holmes</string>
		<key>choice2</key>
		<string>Tom Bird</string>
		<key>choice3</key>
		<string>Jenny Green</string>
		<key>sentence</key>
		<string>The name of defendant in this case is ?</string>
		<key>wrongnextmove</key>
		<string>12</string>
		<key>picture</key>
		<string>010311</string>
		<key>type</key>
		<string>answer</string>
		<key>nextmove</key>
		<integer>15</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>What?!  Are you serious? You do not know the right name, do you?</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010313</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>13</integer>
		<key>nexttype</key>
		<string></string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Oh, sorry. I am too nervous.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010307</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>14</integer>
		<key>nexttype</key>
		<string></string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Ok. I will give your one more chance. Think carefully</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>11</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Well, the name of the defendant,  is Tom Bird. </string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010312</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>16</integer>
		<key>nexttype</key>
		<string></string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Yes. That is the correct answer. </string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>17</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Next question, the name of the woman who was killed in this case is?</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>18</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Well, that&apos;s easy. I know the name</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010306</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>19</integer>
		<key>nexttype</key>
		<string></string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Oh, my what&apos;s that? I have read the record. I should know it.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010307</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>20</integer>
		<key>nexttype</key>
		<string></string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Frank? You forgot it? </string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010309</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>21</integer>
		<key>nexttype</key>
		<string></string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Ok. Whenever, you forgot anything. You could simply swipe left or right to see the record.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010309</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>22</integer>
		<key>nexttype</key>
		<string></string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>You should always be familiar with the record.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010309</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>23</integer>
		<key>nexttype</key>
		<string></string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>The name of the woman who was killed in this case is?</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>24</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>choice1</key>
		<string>Taylor Nash</string>
		<key>choice2</key>
		<string>Jenny Green</string>
		<key>choice3</key>
		<string>Jessica Smith</string>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>3</integer>
		<key>sentence</key>
		<string>The name of the woman who was killed in this case is?</string>
		<key>wrongnextmove</key>
		<string>25</string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>answer</string>
		<key>nextmove</key>
		<integer>28</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Don&apos;t play jokes. That is not the right answer.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>26</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Sorry, sorry. I know it.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010307</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>27</integer>
		<key>3</key>
		<string></string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Ok. So please give me the right one.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>24</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>The woman killed in this case is Jessica Smith</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010306</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>29</integer>
		<key>3</key>
		<string></string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Yes. That&apos;s right.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>30</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Then, how was she killed?</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>31</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>choice1</key>
		<string>Be forced to take poison.</string>
		<key>choice2</key>
		<string>Be hit by blunt tool.</string>
		<key>choice3</key>
		<string>Be killed by stifling.</string>
		<key>name</key>
		<string></string>
		<key>rightChoice</key>
		<integer>2</integer>
		<key>sentence</key>
		<string>Then, how was she killed?</string>
		<key>wrongnextmove</key>
		<string>32</string>
		<key>picture</key>
		<string>010311</string>
		<key>type</key>
		<string>answer</string>
		<key>nextmove</key>
		<integer>35</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Have you read record carefully? </string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010313</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>33</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>I don&apos;t think that is the right answer.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>34</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Sorry, sir. I will read it now.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010307</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>31</integer>
		<key>3</key>
		<string></string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>According to the anatomical record, she was hit by blunt tool and bled to death.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010312</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>36</integer>
		<key>nexttype</key>
		<string></string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Yes. Correct. So much for the questions. Let&apos;s get into the case.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>34</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>2</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
