<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>name</key>
		<string></string>
		<key>sentence</key>
		<string></string>
		<key>picture</key>
		<string>010101</string>
		<key>type</key>
		<string>cg</string>
		<key>nextmove</key>
		<integer>1</integer>
		<key>wrongnextmove</key>
		<string></string>
		<key>nexttype</key>
		<string>cg</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string></string>
		<key>picture</key>
		<string>010102</string>
		<key>type</key>
		<string>cg</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>nextmove</key>
		<integer>2</integer>
		<key>nexttype</key>
		<string>cg</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>sentence</key>
		<string>0</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010103</string>
		<key>type</key>
		<string>cg</string>
		<key>nextmove</key>
		<integer>3</integer>
		<key>nexttype</key>
		<string>cg</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>sentence</key>
		<string>0</string>
		<key>picture</key>
		<string>010104</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>type</key>
		<string>cg</string>
		<key>nextmove</key>
		<integer>4</integer>
		<key>nexttype</key>
		<string>cg</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>sentence</key>
		<string>0</string>
		<key>picture</key>
		<string>010105</string>
		<key>type</key>
		<string>cg</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>nextmove</key>
		<integer>5</integer>
		<key>nexttype</key>
		<string>cg</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>sentence</key>
		<string>0</string>
		<key>picture</key>
		<string>010106</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>type</key>
		<string>cg</string>
		<key>nextmove</key>
		<integer>6</integer>
		<key>nexttype</key>
		<string>cg</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>sentence</key>
		<string>0</string>
		<key>picture</key>
		<string>010107</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>type</key>
		<string>cg</string>
		<key>nextmove</key>
		<integer>7</integer>
		<key>nexttype</key>
		<string>cg</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>sentence</key>
		<string>0</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010108</string>
		<key>type</key>
		<string>cg</string>
		<key>nextmove</key>
		<integer>8</integer>
		<key>nexttype</key>
		<string>cg</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>sentence</key>
		<string>0</string>
		<key>picture</key>
		<string>010109</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>type</key>
		<string>cg</string>
		<key>nextmove</key>
		<integer>9</integer>
		<key>nexttype</key>
		<string>cg</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>sentence</key>
		<string>0</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010110</string>
		<key>type</key>
		<string>cg</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>nextmove</key>
		<integer>10</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Calvin</string>
		<key>sentence</key>
		<string>Oh my god!! I just have killed a woman...</string>
		<key>picture</key>
		<string>010111</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>11</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Calvin</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>wrongnextmove</key>
		<string></string>
		<key>sentence</key>
		<string>Damn it! What should I do?!!!</string>
		<key>picture</key>
		<string>010111</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>12</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Calvin</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Luckily, I could let that man be the scapegoat.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010112</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>13</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Calvin</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Hahaha...........</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010112</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>14</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Narrator</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>August 3rd 09:47 am:  Local court Defendant Waiting Room, Tokyo, Japan</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010201</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>15</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>(Oops. I feel so nervous...)</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010211</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>16</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Hi! Frank!!</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010211</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>17</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Hi! Boss... (This is my boss, Jenny)</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010204</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>18</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>How is everything? This would be your first time in the court as a lawyer.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010202</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>19</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Quite nervous. Hope I am not missing anything.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010204</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>20</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>I will try my best to make everybody know the truth.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010204</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>21</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>This is really a big case. Your first case is murdering. </string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010202</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>22</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>I believe you will make it. You are my best student.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010202</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>23</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Thanks, Jenny. I have worked hard. I think i&apos;m going to make it.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010202</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>24</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>I heard the defendant is your good friend?</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010203</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>25</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Yes. We grow up together.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010203</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>26</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>I really hope he didn&apos;t kill anybody. </string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010203</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>27</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Yep. I hope so too</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010204</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>28</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>???</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Oh my. I really don&apos;t know why this has happened!</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010203</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>29</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>???</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>I can&apos;t believe this!!!</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010203</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>30</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Oh, that is your defendant. </string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010204</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>31</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Frank!</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010206</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>32</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>I really don&apos;t care about the result of the trial.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010206</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>33</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Without that girl, I could find no meanning for life.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010206</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>34</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Just let me die...</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010206</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>35</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>I would not let that happen. Trust me. I will make the truth known.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010206</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>36</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>My name is Frank Holmes.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010210</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>37</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>This would be my first time showing up in the court as a lawyer.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010210</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>38</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Well, about this case...</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010210</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>39</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>An apartment, a young woman was killed.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010207</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>40</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>The man was arrested is his boyfirend. The last man who saw her according to a witness.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010207</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>41</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>His boy friend is just Tom. My friend.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010209</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>42</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>As far as I know, he is really a good man and he loves her so much.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010209</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>43</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>I don&apos;t believe that he did the crime. I wonder what is the truth behind all this.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010209</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>43</integer>
		<key>nexttype</key>
		<string>story</string>
		<key>datamethod</key>
		<integer>2</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
