<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Narrator</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>August 3rd 14:32 am:  Local court Defendant Waiting Room, Tokyo, Japan</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010201</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>1</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>(... ... Thank godness. Finally it is a good ending. )</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010211</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>2</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>(Can&apos;t believe I did it.)</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010211</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>3</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Frank! Good job. Excellent.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010202</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>4</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Thanks, Frank.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010206</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>5</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>You are a good lawyer.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010205</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>6</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>But I can&apos;t believe that Jessica is that kind of girl.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010206</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>7</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>I love her so much.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010206</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>8</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Anyway, thanks you two. </string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010205</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>9</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>As thanks gift, please take this. Jenny.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010501</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>10</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>? To me? </string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010502</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>11</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>This is the statue of thinker, isn&apos;t it?</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010502</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>12</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Yes, it actually it a gift I made for her.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010503</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>13</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>I made two. So please take this as a gift.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010503</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>14</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Oh, I see. Ok, I will take it. Thanks, Tom.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010504</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>15</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>See, Frank, this is how we find out the truth.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010210</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>16</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>You have to thnk about the evidence in many differenet ways.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010210</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>17</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Anyway, you are doing a great job today.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010210</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>18</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>We should have a party to celebrate the succcess of your first case. </string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010202</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>19</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Oh, I remember that you two are really good friends right?</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010202</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>20</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>You could tell me some interesting stories between you two. I am really curious.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010202</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>21</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>My first case ended like this.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010210</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>22</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>It was a happy ending.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010210</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>23</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>However, the statue of thinker, made another tragedy.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010210</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>24</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>The promise I made with Jenny to tell her the stories,</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010210</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>25</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frank</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>can never be done... ...</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010210</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>25</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
