<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Prosecutor Wallace, could I ask you a question?</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>1</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blake</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Sure, sir, please.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010305</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>2</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>The blunt tool mentioned by Lawyer Holmes is...?</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>3</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blake</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>The blunt tool is this. A statue of thinker.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010314</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>4</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blake</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>It was found near the dead body.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010314</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>5</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Ok. We would add it to the item record of the court.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>6</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Remember, during the case. Lots of material evidence would be added to the record like this.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010315</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>7</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>All the material evidence is your weapon.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010315</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>8</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jenny</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Slide left or right to see the record often. You will benefit from that.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010315</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>9</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string></string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010303</string>
		<key>type</key>
		<string>cg</string>
		<key>nextmove</key>
		<integer>10</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Ok, now, please let the evidence come in.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>11</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string></string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010316</string>
		<key>type</key>
		<string>cg</string>
		<key>nextmove</key>
		<integer>12</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Prosecutor Wallace, you may begin to ask the evidence now.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>13</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blake</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>So Mr. Tom Bird, I have heard you are dumped by Jessica Smith, right?</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010305</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>14</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>No. We did not break up! We are just having a little problem!!!</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010317</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>15</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blake</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Actually, she has went to US for vocation without you, hasn&apos;t she? </string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010305</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>16</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blake</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>The day before she was killed, she just got back from US after vocation.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010305</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>17</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blake</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Judge, this is Jessica&apos;s passport.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010318</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>18</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blake</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>The day before she was dead, she was in New York.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010318</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>19</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Yes. According to the passport, she surely got back the day before the case.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>20</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>We will add the passport to the item record.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>21</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>What?! I can&apos;t believe she went without me!</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010317</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>22</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blake</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>So you do not know that she has lots of other boyfriends beside you, right?</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010305</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>23</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>No, you must be lying. </string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010317</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>24</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blake</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>I am sorry man, according to her phone text. This is really the case. She is this kind of woman.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010305</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>25</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blake</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>So now, everybody here is easy to know his motivation to kill her.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010305</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>26</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Yes, it is very clear right now.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>27</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blake</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Ok, next question. The day the murder happened, have you been to her apartment?</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010305</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>28</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Yes. I have.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010319</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>29</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string></string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010302</string>
		<key>type</key>
		<string>cg</string>
		<key>nextmove</key>
		<integer>30</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string></string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010303</string>
		<key>type</key>
		<string>cg</string>
		<key>nextmove</key>
		<integer>31</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Quiet everyone, so Mr Bird, what happended next? </string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>32</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>She was not at home. i didn&apos;t see her.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010319</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>33</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string></string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010320</string>
		<key>type</key>
		<string>cg</string>
		<key>nextmove</key>
		<integer>34</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blake</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Judge, he is lying.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010305</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>35</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blake</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>I have an evidence prove that he is lying.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010305</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>36</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blake</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>He found the dead body.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010305</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>37</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blake</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>And before that, he saw Mr Tom Bird escape from the apartment.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010317</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>38</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Judge</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Ok. Let the new evidence come in.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010304</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>39</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string></string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010321</string>
		<key>type</key>
		<string>cg</string>
		<key>nextmove</key>
		<integer>40</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>1</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blake</string>
		<key>rightChoice</key>
		<integer>0</integer>
		<key>sentence</key>
		<string>Mr Calvin Reed was selling goods in the apartment building that day.</string>
		<key>wrongnextmove</key>
		<string></string>
		<key>picture</key>
		<string>010305</string>
		<key>type</key>
		<string>story</string>
		<key>nextmove</key>
		<integer>40</integer>
		<key>nexttype</key>
		<string>answer</string>
		<key>datamethod</key>
		<integer>2</integer>
		<key>nextviewcontroller</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
